:root {
    
    --iron: #ccced1;
    --cloud-burst: #23374b;
    --shakespeare: #59b6d4;
    --smalt-blue: #537a95;
    --mid-gray: #6c6c71;
    --curious-blue: #2b90bf;
    --shady-lady: #a49ca2;
    --firefly: #060d16;
    --shuttle-gray: #596c79;
    --oranga: #9c6600;

    --siteFont: "Jersey 15", sans-serif;
    --siteFontMono: "VT323", monospace;
    --siteFontAlt: "Funnel Display", sans-serif;

    
  }
  